img {
    position: absolute;
    top: 0;
    left: 0;
}

#tx3-1 {
    margin-top: 360px;
    margin-left: 200px;
}

#tx1-3 {
    margin-top: 220px;
    margin-left: 350px;
}

#tx4-2 {
    margin-top: 222px;
    margin-left: 355px;
}

#tx2-4 {
    margin-top: 350px;
    margin-left: 313px;
}

#tx4-2 {
    margin-top: 210px;
    margin-left: 164px;
}

#tx4-1 {
    margin-top: 310px;
    margin-left: 22px;
}

#tx1-4 {
    margin-top: 310px;
    margin-left: 95px;
}

#tx3-2 {
    margin-top: 305px;
    margin-left: 460px;
}

#tx2-3 {
    margin-top: 305px;
    margin-left: 530px;
}

#tx1-2 {
    margin-top: 20px;
    margin-left: 260px;
}

#tx2-1 {
    margin-top: 92px;
    margin-left: 260px;
}

#tx4-3 {
    margin-top: 510px;
    margin-left: 255px;
}

#tx3-4 {
    margin-top: 585px;
    margin-left: 260px;
}

#tx1-1 {
    top: -20px;
    left: -30px;
}

#tx2-2 {
    top: 0px;
    left: 560px;
}

#tx3-3 {
    top: 605px;
    left: 560px;
}

#tx4-4 {
    top: 615px;
    left: -40px;
}

.trutab {
    font-size: 1.5em;
}

th,
td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.btnsm {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.4em;
    margin-top: 10px;
}

.btnclr {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.4em;
    margin-top: 10px;
    margin-left: 380px;
}
body{
    font-family: 'Times New Roman', Times, serif;
}